<!DOCTYPE html>
<html lang="bg">
<head>
    <meta charset="UTF-8">
    <title>Добави ястие</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='add_dish.css') }}">
</head>
<body>

    <h1>Добави ново ястие</h1>

    <form method="POST">
        <input type="text" name="name" placeholder="Име" required><br>
        <select name="category" required>
            <option value="">-- Избери категория --</option>
            <option value="Основни">Основни</option>
            <option value="Десерти">Десерти</option>
            <option value="Напитки">Напитки</option>
        </select>
        
        <input type="number" step="0.01" name="price" placeholder="Цена" required><br>
        <textarea name="description" placeholder="Описание" required></textarea><br>
        <input type="text" name="image_filename" placeholder="Име на снимка (напр. menu_1.jpg)" required><br>
        <label><input type="checkbox" name="availability" value="1" checked> Налично</label><br><br>

        <button type="submit">Запази</button>
    </form>

    <br>
    <a href="{{ url_for('manage_menu') }}">⬅ Назад</a>

</body>
</html>
