<!DOCTYPE html>
<html lang="bg">
<head>
    <meta charset="UTF-8">
    <title>Резервация</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='reserve.css') }}">
</head>
<body>
    <h1>Направи резервация</h1>
    <form method="POST">


        <div class="order" id="Order">
        
            <div class="order_main">
        
                <div class="order_image">
                    <img src="static/image/order_image.png">
                </div>
        
                <form action="#">
        
                    <div class="input">
                        <p>Name</p>
                        <input type="text" placeholder="you name">
                    </div>
        
                    <div class="input">
                        <p>Number</p>
                        <input placeholder="you number">
                    </div>
        
                    <div class="input">
                        <p>How Much</p>
                        <input type="number" placeholder="how many order">
                    </div>
        
                    <div class="input">
                        <p>You Order</p>
                        <input placeholder="food name">
                    </div>
        
                    <div class="input">
                        <p>Address</p>
                        <input placeholder="you Address">
                    </div>
        
                    <a href="#" class="order_btn">Order Now</a>
        
                </form>
        
            </div>
        
        </div>
        
        
        

        <input type="text" name="name" placeholder="Име" required><br>
        <input type="tel" name="phone" placeholder="Телефон" required><br>
        <input type="date" name="date" required><br>
        <input type="time" name="time" required><br>
        <input type="number" name="guests" placeholder="Брой места" min="1" required><br>
        <button type="submit">Резервирай</button>
    </form>
    <br>
    <a href="{{ url_for('client_panel') }}">⬅ Назад</a>
</body>
</html>
